<!DOCTYPE html>
<html>
<head>
    <title>Hotels Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class='card'>
    <h2>Manage Your Hotel</h2>
    <form method='POST'>
<input name='hotel_id' placeholder='Hotel ID' required>
<input name='price' placeholder='New Price' required>
<label>Room Type</label><select name='room_type' class='scroll-select'><option>Full AC</option><option>Non AC</option><option>Single Bed</option><option>Double Bed</option><option>Suite</option><option>Deluxe</option></select>
<label>Rating</label><select name='rating' class='scroll-select'><option>5</option><option>4.5</option><option>4</option><option>3</option></select>
<button type="submit" onclick="goHome()">Update Details</button></form></div>
</body>
</html>